# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Output files
*.bib
cv.md
cv_pubs.md
output.txt
.DS_Store
